.tweetBox{
    padding-bottom: 10px;
    border-bottom: 8px solid #c7e1f1;
    padding-right: 10px;
}
.tweetBox>form{
    display: flex;
    flex-direction: column;
}
.tweetBox__input{
    padding: 20px;
    display: flex;
}
.tweetBox__input>input{
    flex: 1;
    font-size: 20px;
    margin-left: 20px;
    border: none;

}
.tweetBox__tweetButton{
    background-color:#50b7f5 !important;
    border: none !important;
    color: rgb(201, 183, 183) !important;
    font-weight: 800 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    height: 50px !important;
    margin-top: 20px !important;
    width: 50%;
    margin-left: auto !important;
}
.tweetBox__imageInput{
    border: none;
    padding: 10px;
}